#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --primary-color: #e5e5e5;
  --secondary-color: #fca311;
  --tercary-color: #14213d;
}

.main {
  max-width: 900px;
  margin: auto;
  font-size: 14px;
}

.footer {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 1em;
  margin: 0 3em 2em 3em;
}
