#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --primary-color: #e5e5e5;
  --secondary-color: #fca311;
  --tercary-color: #14213d;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.main {
  margin: 2em auto;
  font-size: 14px;
  max-width: 800px;
}

.hero {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 1em;
  display: grid;
  gap: 1em;
}

.hero__title {
  font-size: 3em;
}

.hero__dropdown {
  width: 150px;
  justify-self: center;
  border: none;
  color: grey;
  border-radius: 1em;
  outline: none;
}

.hero__button {
  background-color: var(--tercary-color);
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em;
  width: 200px;
  border-radius: 100px;
  color: var(--background-color);
  justify-self: center;
}

.hero__button:hover {
  background-color: #c47d0c;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  min-height: 500px;
}

.footer {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 1em;
  margin: 2em 0;
}
