body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --primary-color: #e5e5e5;
  --secondary-color: #fca311;
  --tercary-color: #14213d;
}
