*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --primary-color: #e5e5e5;
  --secondary-color: #fca311;
  --tercary-color: #14213d;
}

.recipe {
  display: grid;
  grid-template-columns: 50% 1fr;
  margin: 0 3em;
}

.recipeName {
  grid-column: span 2;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 1em;
  font-size: 3em;
}

.recipeInfo {
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--tercary-color);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  margin: 0 2em 2em 2em;
}

.recipeImage {
  height: 300px;
  border-radius: 1em;
  place-self: center;
}

.recipeIngredients {
  text-align: left;
  place-self: center;
  padding: 2em 3em;
  height: 100%;
  display: grid;
  background-color: var(--secondary-color);
  border-radius: 1em;
}

.recipeInstructions {
  grid-column: span 2;
  background-color: var(--primary-color);
  margin: 2em 0;
  padding: 3em;
  border-radius: 50px;
  line-height: 1.8em;
}
